# Dependencies
node_modules/
.next/
backend/cricketclippers.mp4
*.mp4
venv/
.venv/

# Next.js & Frontend Build
.next/
out/
build/
dist/
.vercel

# Python & AI
**/__pycache__/
*.pyc
*.pt
*.weights
*.mp4
*.avi

# Env files 
.env
.env.*
!.env.example

# OS & Debug
.DS_Store
*.log
